.todoListsTab ul { list-style: none inside none; margin: 0; }

.todoListsTab li:hover {
    background: #eee;
}

.todoListsTab li .text.checked {
    text-decoration: line-through;
    color: #aaa;
}

.todoListsTab li .controls {
    display: none;
    float: right;
}

.todoListsTab li:hover .controls {
    display: inline;
}
