/* CSS declarations go here */

html, body {
    height: 100%;
}

.chat-container {
}
.chat-container .chat {
    height: 100px;
    overflow-y: scroll;
}
.chat-container form {
    position: absolute;
    bottom: 0;
}