/* CSS declarations go here */

html, body {
    height: 100%;
}

.rightSideNav {
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-container, .chat-container input {
}
.chat-container .chat {
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat-container form {
    position: absolute;
    bottom: 0;
}

.thumbnail {
    cursor: pointer;
}
.thumbnail:hover {
    background: #dde;
}
.message .timestamp {
    color: gray;
    text-wrap: none;
}
.message .nick {
    font-weight: bold;
}
